<!--ここから部分テンプレート-->
<h1>User info</h1>

 <%= image_tag current_user.get_profile_image(80, 80) %>
 <table>
  <tr>
    <th><%= "name" %></th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th><%= "introduction" %></th>
    <td><%= current_user.introduction %></td>
  </tr>
</table>

<%= link_to edit_user_path(current_user.id), class: "btn btn-secondary" do %>
<i class="fas fa-user-cog"></i>
<% end %>
 


<!--ここまで部分テンプレート-->