<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/error', obj: @book %>
      <!--ここから部分テンプレート-->
      <%=render 'users/info', user: current_user %>
      <%=render 'form', book: @book %>
      <!--ここまで部分テンプレート-->
      </div>
      <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
          <td>
          <%= link_to user_path(book) do %>
          <%= image_tag book.user.get_profile_image, size: '80x80' %>
          <% end %>
          </td> 
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
