<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--ここから部分テンプレート-->
      <%= render 'user_info', user: @user %>
      <%= render 'new_book', book: @book %>
      <!--ここまで部分テンプレート-->
      </div>
      <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>

      <table class="table table-striped">
          <tr>
            <td></td>
            <td>
              <%= link_to  user_path(@user) do %>
              <%= image_tag @books.user.get_profile_image(80, 80) %><br>
              <%= @books.user.name %>
              <% end %>
            </td>
            <td><%= link_to @books.title, book_path(@books) %></td>
            <td><%= @books.body %></td>
            <% if @books.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@books), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@books), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？"%></td>
            <% end %>
          </tr>
        </table>
    </div>
  </div>
</div>