<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f9e80abfb4.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a href="/"><span>Bookers</span></a>

          <% if user_signed_in? %>
          <div class="justify-content-end">
            <div class="navbar-nav">
              <li>
                <%= link_to books_path do %>
                <i class="fas fa-home"></i>
                <%= "Home" %>
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                <i class="fas fa-users"></i>
                <%= "Users" %>
                <% end %>
              </li>
              <li>
                <%= link_to  books_path do %>
                <i class="fas fa-book-open"></i>
                <%= "Books" %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
                <%= "Log out" %>
                <% end %>
              </li>
            </div>
          </div>
          <% else %>
          <div class="justify-content-end">
            <ul class="navbar-nav">
              <li>
                <%= link_to root_path do %>
                <i class="fas fa-home"></i>
                <%= "Home" %>
                <% end %>
              </li>
              <li>
                <%= link_to about_path do %>
                <i class="fas fa-link"></i>
                <%= "About" %>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
                <%= "Sign up" %>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>
                <%= "Log in" %>
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="mx-auto">
    <%= yield %>
    </main>
    <footer>
    <div class="text-center">
      CopyRight Infratpo.inc
    </div>
    </footer>
  </body>
</html>
